{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Browse blogs in following category:</h3>
    {%for category in categories%}
    <p>{{category.id}}      {{category.name}}</p>
    {%endfor%}


    <h3>Latest Blog</h3>
    {%for article in articles %}
    <h2>{{article.title}}</h2>
    <img src="{{article.cover_image.url}}" alt="">
    <p>{{article.content}}</p>
    {% endfor %}
</body>
</html>